@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.search__container {
    display: inline-block;
    margin: auto;
    left: 200px;
    width: 500px;
    position: relative;
    vertical-align: middle;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.search__content {
    font-size: 29px;
    font-weight: 900;
    text-align: center;
    bottom: 5px;
    color: whitesmoke;
    position: relative;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: whitesmoke;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    transition: all 250ms ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: whitesmoke;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    background-position: 100% center;
    box-shadow: 10px 10px 2px 1px whitesmoke;
}

.credits__container {
    margin-top: 24px;
}

.options_menu p {
    color: black;
    float: right;
    vertical-align: top;
    margin-top: 27.5px;
    border: 1px solid black;
    padding: 3px;
    bottom: 35px;
    position: relative;
    margin-left: 10px;
}

.contribute {
    margin-right: 10px;
}

.about:hover,
.contribute:hover,
.feedback:hover {
    color: white;
    background-color: black;
    border-color: black;
    box-shadow: 5px 5px 2px 1px rgba(255, 238, 0, 0.678);
    transition: 350ms ease-in;
    border-radius: 5px;
}

.web__title {
    position: relative;
    float: top;
    display: flex;
    left: 10px;
    bottom: 12.5px;
    font-size: 40px;
    font-weight: 900;
    bottom: 20px;
    color: #0b0335;
}

.search__box {
    display: inline-block;
    position: relative;
    bottom: 40px;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-image: url(./images/proto.jpg);
}